<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Universal Cheat Sheet</title>
  <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
  <div id="app">
    <nav>
      <ul>
        <li>
          Cheat Sheet <br>
          <small>Version {{ version.build }}.{{ version.major }}.{{ version.minor }}</small>
        </li>
        <li v-for="item in content" v-on:click="activePage = item.name">{{ item.name }}</li>
      </ul>
    </nav>
    <section class="content" v-for="item in content" v-show="activePage == item.name">
      <h1>{{ item.name }}</h1>
      <div v-for="element in results[item.name]">
        <h2>{{ element.name }}</h2>
        <p>{{ element.info }}</p>
        <pre><code v-bind:class="item.prism">{{ element.content }}</code></pre>
      </div>

      <footer>
        Made with &hearts; by {{ authors[0] + ' & ' + authors[1] }}
      </footer>
    </section>
  </div>
  <script src="src/js/vue.min.js"></script>
  <script src="db.js"></script>
  <script src="src/js/prism.js"></script>
  <script src="src/js/main.js"></script>
</body>
</html>