<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Universal Cheat Sheet</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-components-web@0.29.0/dist/material-components-web.min.css">
  <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
<div id="app">
  <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <a href="#" class="material-icons mdc-toolbar__menu-icon menu">menu</a>
        <span class="mdc-toolbar__title">{{ activePageName }} Cheat Sheet</span>
      </section>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
        <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Search this page" alt="Search this page">search</a>
      </section>
    </div>
  </header>
  <aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
    <nav class="mdc-drawer__drawer">
      <header class="mdc-drawer__header">
        <div class="mdc-drawer__header-content">
          UCS - v{{ version.build }}.{{ version.major }}.{{ version.minor }}
        </div>
      </header>
      <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
        <!-- TODO: 'mdc-list-item--activated' -->
        <div v-for="subdev in allLangsSections">
          <a class="mdc-list-item" href="#" v-for="lang in modules[subdev].content" v-if="lang.enabled" v-on:click="activePage = lang.id">
            {{ lang.displayname }}
          </a>
          <hr class="mdc-list-divider">
        </div>
      </nav>
    </nav>
  </aside>
  <div class="mdc-toolbar-fixed-adjust"></div>
  <section class="content">
    {{ allLangs }}
    <div v-for="lang in allLangs">
      {{allLangs[lang]}}
      <div class="code-item-container" v-for="element in allLangs[lang]">
        <h2>{{ element.name }}</h2>
        <p>{{ element.info }}</p>
        <pre><code v-bind:class="modules.langs[lang].defaultPrism">{{ element.content }}</code></pre>
      </div>
    </div>

    <!--<footer>
      Made with &hearts; by {{ authors[0] + ' &amp; ' + authors[1] }}
    </footer>-->
  </section>
</div>
<script src="src/js/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/material-components-web@0.29.0/dist/material-components-web.min.js"></script>
<script src="db.js"></script>
<script src="src/js/prism.js"></script>
<script src="src/js/main.js"></script>
<script>
  var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
  toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');

  var drawer = new mdc.drawer.MDCTemporaryDrawer(document.querySelector('.mdc-drawer--temporary'));
  document.querySelector('.menu').addEventListener('click', function () { drawer.open = true });
</script>
</body>
</html>