@import "reset";
@import "highlight";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

$primary: #00BCD4;
$light: #4fb3be;
$dark: #005661;

body {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}

#app {
  header.mdc-toolbar {
    background: $primary;
  }
  .mdc-drawer__header-content {
    background: $primary;
    color: white;
  }
  ////// OLD
  // Sidebar
  .content {
    #header-holder {
      height: 256px;
      width: 100%;
      display: none;
    }
    .code-item-container {
      padding: 20px;
    }
    footer {
      text-align: center;
      background: $primary;
      color: rgba(255, 255, 255, .85);
      padding: 16px;
      margin: 0;
    }
  }
}