@import "reset";
@import "highlight";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

$primary: #00BCD4;
$light: #4fb3be;
$dark: #005661;

body {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}

#app {
  header.mdc-toolbar {
    background: $primary;
  }
  .mdc-drawer__header-content {
    background: $primary;
    color: white;
  }
  ////// OLD
  // Sidebar
  .content {
    #header-holder {
      height: 256px;
      width: 100%;
      display: none;
    }
    .code-item-container {
      padding: 20px;
    }
    footer {
      text-align: center;
      background: $primary;
      color: rgba(255, 255, 255, .85);
      padding: 16px;
      margin: 0;
    }
  }
  .load-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    text-align: center;
    color: $primary;
    background: white;
    .middle {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 40%;
      h1 {
        font-weight: 300;
      }
      .mdc-linear-progress {
        max-width: 600px;
        margin: auto;
      }
      .mdc-linear-progress .mdc-linear-progress__bar-inner {
        background-color: $primary;
        left: -25%;
      }
      .mdc-linear-progress--indeterminate .mdc-linear-progress__primary-bar {
        left: -50%;
      }
    }
  }
}